@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 218 65% 100%;
    --foreground: 218 69% 2%;
    --muted: 188 35% 92%;
    --muted-foreground: 188 11% 36%;
    --popover: 0 0% 99%;
    --popover-foreground: 218 69% 1%;
    --card: 0 0% 99%;
    --card-foreground: 218 69% 1%;
    --border: 218 10% 95%;
    --input: 218 10% 95%;
    --primary: 13.8 100% 60.78%;
    --primary-foreground: 218 47% 99%;
    --secondary: 300 43.28% 26.27%;
    --secondary-foreground: 0 0% 100%;
    --accent: 193.47 73.13% 39.41%;
    --accent-foreground: 248 47% 99%;
    --destructive: 13 98% 27%;
    --destructive-foreground: 13 98% 87%;
    --ring: 218 47% 39%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 12.4 100% 54.3%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
